/* about style starts here */

.short-answer h3,
.long-answer h3 {
    font-size: 4.5em;
}

.short-answer h3,
.long-answer h3 {
    margin-bottom: 3.5rem;
    position: relative;
    left: 3rem;
}

.short-answer h3::before,
.long-answer h3::before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
            transform: translateY(-70%);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--mainColor);
    left: -5rem;
}

/* short answer list style */

.short-answer ul {
    list-style: none;
    width: calc(100% - 3rem);
}

.short-answer li {
    position: relative;
    left: 4.5rem;
}

.short-answer li::before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: -5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #696969;
}

/* contact box style */

.contact {
    background-color: var(--mainColor);
    color: var(--white);
}

.contact a {
    color: var(--email_color);
    text-decoration: underline;
}

.email {
    text-align: end;
}


.page-title.dark.bold.mobile{
    display: none ;
}
.page-title.dark.bold:not(.mobile){
    display: block ;

}

/* optimize arabic view */

[style="direction: rtl;"] .short-answer h3,
[style="direction: rtl;"] .long-answer h3 {
    right: 3rem;
}

[style="direction: rtl;"] .short-answer li {
    right: 4.5rem;
}

[style="direction: rtl;"] .short-answer h3::before,
[style="direction: rtl;"] .long-answer h3::before,
[style="direction: rtl;"] .short-answer li::before {
    right: -5rem;
}

[style="direction: rtl;"] .short-answer li::before {
    top: 0.5rem;
}


/* about style ends here */
/* ---------------------- */
/* media queries */

/* for mobile responsive */



@media (max-width: 1155px){
    .para {
        font-size: 3.85em !important;
    }
}


/* big tablet */
@media (min-width: 992px){
    
    .short-answer h3::before,
    .long-answer h3::before {
        width: 2rem;
        height: 2rem;
    }

    .short-answer li::before {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (min-width: 992px){
    
    .short-answer h3::before,
    .long-answer h3::before {
        width: 2rem;
        height: 2rem;
    }

    .short-answer li::before {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media only screen and (max-device-width: 600px) {
    .mobile{
        display: block !important;
    }
    .page-title.dark.bold:not(.mobile){
        display: none !important ;
    
    }
}
/* labtop and above */
@media (min-width: 1156px){

    .short-answer h3,
    .long-answer h3 {
        font-size: 3rem;
    }

    .long-answer p {
        margin-bottom: 2.25rem;
    }

    .email-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .email-wrapper .email {
        -webkit-margin-start: 1.5rem;
                margin-inline-start: 1.5rem;
    }

    .short-answer li::before {
        top: 0.25rem;
    }
}

