/* dataset style starts here */

.download a {
    background-color: var(--mainColor);
    color: var(--white);
    padding: 2.75rem 4.1rem 2rem;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 3.5em;
}

.download a:focus {
    -webkit-box-shadow: 0 0 0 2px var(--thirdColor) !important;
            box-shadow: 0 0 0 2px var(--thirdColor) !important;
}

.download a span {
    text-decoration: underline;
}

.download svg {
    width: 1.75em;
    -webkit-margin-start: 1rem;
            margin-inline-start: 1rem;
    margin-top: -0.5em;
}

.download p {
    margin-top: 4rem;
}

/* instructions sections */

.contact_link {
    color: var(--mainColor);
    text-decoration: underline;
}

.list {
    list-style: none;
}


.list li {
    position: relative;
    list-style: none;
    width: calc(100% - 3em);
    left: 3em;
}

.wrapper-list > li {
    margin-top: 2em;
}

.wrapper-list > li::before {
    content: '';
    position: absolute;
    left: -3em;
    top: 0.3em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--mainColor);
}

.inner-list > li {
    margin: 1em 0;
}

.inner-list li:before {
    content: '';
    position: absolute;
    left: -3em;
    top: 0.9em;
    -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
            transform: translateY(-70%);
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    background-color: #696969;
}

[style="direction: rtl;"] .list li {
    right: 3em;
}

[style="direction: rtl;"] .wrapper-list > li::before,
[style="direction: rtl;"] .inner-list li:before {
    right: -3em;
}

/* dataset style ends here */
/* ------------------------ */
/* media queries */

/* need override in dataset.css style */
@media (max-width: 991px) {
    .box .para {
        font-size: 4em;
    }

    [style="direction: rtl;"] .box .para {
        font-size: 4em;
    }
}

/* tab */
@media (min-device-width: 768px) {

    .wrapper-list > li::before {
        top: 0.1em;
        width: 0.75em;
        height: 0.75em;
    }

    .inner-list li:before {
        top: 0.6em;
        width: 0.5em;
        height: 0.5em;
    }

    .list li {
        left: 1.5em;
    }

    [style="direction: rtl;"] .list li {
        right: 1.5em;
    }
    
    .wrapper-list > li::before,
    .inner-list li:before {
        left: -1.5em;
    }

    [style="direction: rtl;"] .wrapper-list > li::before,
    [style="direction: rtl;"] .inner-list li:before {
        right: -1.5em;
    }
}

/* larger screens */

/* laptop and above */
@media (min-width: 1156px){

    .download {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .download p{
        margin-top: 0;
        -webkit-margin-start: 3rem;
                margin-inline-start: 3rem;
    }

    .download a {
        font-size: 1.5em;
        padding: 1.75rem 2.1rem 1rem;
    }

    [style="direction: rtl;"] .download a {
        font-size: 1.6em;
    }

    .download svg {
        width: 1.5em;
        margin-top: -0.25em;
    }

    .wrapper-list > li {
        margin-top: 2rem;
    }

    .inner-list > li {
        margin: 1rem 0;
    }

    .wrapper-list > li::before {
        top: 0.4rem;
        width: 1rem;
        height: 1rem;
    }

    [style="direction: rtl;"] .wrapper-list > li::before {
        top: 0.6rem;
    }

    .inner-list li::before {
        top: 0.6em;
        width: 0.75rem;
        height: 0.75rem;
    }
}

@media (min-width: 1440px){
    .download a {
        font-size: 1.75em;
    }

    [style="direction: rtl;"] .download a {
        font-size: 1.9em;
    }
}