/* this is a mobile-first
and responsive stylesheet
for the whole website */

/* global style starts here */

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Noto+Sans&family=Tajawal:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    overflow-wrap: break-word;
}

*:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px #e0e0e0 !important;
            box-shadow: 0 0 0 2px #e0e0e0 !important;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

:root {
    --mainColor: #25a897;
    --secondColor: #f6b863;
    --thirdColor: #91684a;
    --forthColor: #4caf50;
    --fifthColor: #b1e6e0;
    --email_color: #ffd396;
    --white: #fff;
    --grey: #cecece;
    --grey-2: #a7a7a7;
    --dark: #454545;

    font-size: 10px;
}

/* colors */

.third-color {
    color: var(--thirdColor);
}

.main-color {
    color: var(--mainColor);
}

.second-color {
    color: var(--secondColor);
}

.dark {
    color: var(--dark);
}

.grey-2 {
    color: var(--grey-2);
}

.white {
    color: var(--white);
}

/* bg */

.bg-grey {
    background-color: var(--grey);
}

.bg-main-color {
    background-color: var(--mainColor);
}

/* fonts */
.bold {
    font-weight: bold;
}

/* display */

.d-none {
    display: none !important;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sr-only {
    display: inline-block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

/* repeated style */

.main-title {
    font-size: 9em;
}

.page-title,
.box {
    width: calc(100% - 8rem);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.box {
    padding: 4.5rem;
    background-color: var(--white);
    border-radius: 14px;
    -webkit-box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.16);
}

.page-title {
    font-size: 5em;
}

.para {
    font-size: 2.1em;
    margin-bottom: 1rem;
}

/* optimize arabic view */

[style="direction: rtl;"] .para {
    line-height: 1.33;
}

/* global style ends here */
/* ---------------------------------------------------- */
/* navbar of all pages except register page starts here */

.constant-nav-wrapper {
    position: relative;
}

.constant-nav {
    padding: 4rem;
    -webkit-box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 7rem;
}

.constant-nav img {
    width: 27vw;
}

.constant-nav .menu-small,
.logo-w-btn {
    width: 100%;
}

.navbar-toogle-icon {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.navbar-toogle-icon img {
    width: 5rem;
}

.navbar-toogle-icon:focus {
    outline: none;
}

.small-menu {
    background-color: var(--white);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 17rem;
    z-index: 100;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.small-menu.open {
    padding: 5rem;
    height: auto;
    max-height: 400px;
}

.small-menu li {
    margin-bottom: 2.5rem;
}

.small-menu a,
.small-menu span {
    padding: 1rem;
    font-size: 4.5em;
}

.small-menu .lang-switch {
    margin-top: 5.5rem;
}

.small-menu .lang-switch a {
    font-size: 3.75em;
}

.constant-nav .menu {
    display: none;
}

.current {
    color: var(--mainColor);
    font-weight: bold;
    text-decoration: underline;
}

[style="direction: ltr;"] .lang-switch a:first-child {
    color: var(--mainColor);
}

[style="direction: rtl;"] .lang-switch a:last-child {
    color: var(--mainColor);
}

/* navbar of all pages except register page ends here */
/* ---------------------------------------------------- */
/* custom scrollbar in register page and record page */

/* for firefox */
.aya-inner-wrapper,
.table-content,
#tongue-list,
#age-list {
    scrollbar-color: #adadad #ededed;
    scrollbar-width: thin;
}

/* for chrome */
.aya-inner-wrapper::-webkit-scrollbar,
.table-content::-webkit-scrollbar,
#tongue-list::-webkit-scrollbar,
#age-list::-webkit-scrollbar  {
    width: 5px;
}

.aya-inner-wrapper::-webkit-scrollbar-track,
.table-content::-webkit-scrollbar-track,
#tongue-list::-webkit-scrollbar-track,
#age-list::-webkit-scrollbar-track {
    background: #ededed; 
}

.aya-inner-wrapper::-webkit-scrollbar-thumb,
.table-content::-webkit-scrollbar-thumb,
#tongue-list::-webkit-scrollbar-thumb,
#age-list::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #adadad; 
}

.aya-inner-wrapper::-webkit-scrollbar-thumb:hover,
.table-content::-webkit-scrollbar-thumb:hover,
#tongue-list::-webkit-scrollbar-thumb:hover,
#age-list::-webkit-scrollbar-thumb:hover {
    background: var(--grey); 
}

/* to change scrollbar postion to match the design */
.aya-inner-wrapper,
.table-content,
#tongue-list,
#age-list {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); 
}

.aya,
.table-content p,
#tongue-list > div,
#age-list > div {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

/* --------------- */
/* media queries */

@media (min-width: 600px) and (max-width: 991px){
    .para {
        font-size: 3.5em;
    }
}

@media (max-width: 991px) {
    .box .para {
        font-size: 1.7em; /* need override in dataset.css style */
    }
}

/* big tablet */
@media (min-width: 992px){
    .para {
        font-size: 3.5em;
    }

    .constant-nav img {
        width: 22rem;
    }

    .small-menu a,
    .small-menu span {
        padding: 1rem;
        font-size: 4.5em;
    }

    .small-menu .lang-switch a {
        font-size: 3.75em;
    }
}

/* labtop and above */
@media (min-width: 1156px){

    .para {
        font-size: 2em;
    }

    .main-title {
        font-size: 4.5em;
    }

    .page-title {
        font-size: 3em;
    }

    /* navbar of all pages except register page */
    .small-menu,
    .navbar-toogle-icon {
        display: none;
    }

    .constant-nav {
        padding: 1.5rem 10%;
    }

    .constant-nav img {
        width: 13rem;
    }

    .constant-nav .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        width: calc(100% - (13rem + 8rem));
    }

    .constant-nav .menu .menu-links {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .constant-nav .menu li {
        margin: 0 1rem;
    }

    .constant-nav .menu a {
        font-size: 1.75em;
    }

    .constant-nav .lang-switch a {
        padding: 0.5rem 1rem;
    }

    [style="direction: rtl;"] .constant-nav .lang-switch {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .constant-nav .menu-small,
    .logo-w-btn {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .current {
        color: var(--mainColor);
        font-weight: bold;
        text-decoration: none;
        position: relative;
    }

    .current::after {
        content: '';
        position: absolute;
        bottom: -2.8rem;
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--mainColor);
    }

    [style="direction: rtl;"] .current::after {
        bottom: -3.4rem;
    }

    .page-title,
    .box {
        width: 79%;
    }

}