/* record page style starts here */

.record-page-container {
    margin-bottom: 3rem;
    -webkit-padding-start: 3.5rem;
            padding-inline-start: 3.5rem;
    -webkit-padding-end: 3.5rem;
            padding-inline-end: 3.5rem;
}

/* aya text aria */

.aya-wrapper {
    width: 80vw;
    margin: 0 auto;
    height: 45vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    -webkit-padding-start: 2.5rem;
            padding-inline-start: 2.5rem;
    -webkit-padding-end: 4rem;
            padding-inline-end: 4rem;
    margin-bottom: 3rem;
    background-image: url('../images/aya-frame.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.aya-inner-wrapper {
    -webkit-padding-end: 3rem;
            padding-inline-end: 3rem;
    height: 100%;
    overflow-y: auto;
}

.aya {
    font-family: 'Amiri', serif;
    text-align: center;
    font-size: 4.9em;
}

/* btns aria */

.record-btns-wrappers {
    margin-bottom: 3rem;
}

.record-btns-wrappers button {
    margin: 0 2rem;
    border-radius: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.record-btns-wrappers button:focus {
    -webkit-box-shadow: 0 0 0 2px var(--thirdColor) !important;
            box-shadow: 0 0 0 2px var(--thirdColor) !important;
}

.record-btns-wrappers svg {
    width: 100%;
}

.ayat-navigate {
    border: 2px solid var(--grey);
    background-color: var(--white);
    width: 10rem;
    height: 10rem;
}

.ayat-navigate svg {
    fill: var(--mainColor);
}

[style="direction: rtl;"] .ayat-navigate svg{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

#prev_btn.stop_prev_btn {
    background-color: var(--grey);
}

#prev_btn.stop_prev_btn svg {
    fill: var(--white);
}

.record-and-stop {
    width: 15rem;
    height: 15rem;
    border: none;
}

/* messages and timer aria */

.message {
    font-size: 4em;
    text-align: center;
    margin-bottom: 3rem;
}

.thanks {
    font-size: 2.6em;
}

[style="direction: rtl;"] .thanks {
    font-size: 3.9em;
}

.timer-wrapper {
    font-size: 3em;
}

/* sura and aya tabel */

.sura_aya_choose_wrapper {
    width: 80vw;
    margin: 0 auto 3rem;
}

.sura-table-wrapper {
    width: calc((2 / 3) * 100% - 1rem);
}

.aya-table-wrapper {
    width: calc((1 / 3) * 100% - 1rem);
}

.sura-table-wrapper .table-input-wrapper,
.sura-table-wrapper,
.aya-table-wrapper {
    position: relative;
}

/* submit btn */

.table-input-wrapper button {
    width: 3.7rem;
    padding: 0.6rem;
    background-color: transparent;
    border: none;
    -webkit-border-start: 1px solid var(--grey);
            border-inline-start: 1px solid var(--grey);
    border-end-end-radius: 6px;
    border-start-end-radius: 6px;
    position: absolute;
    right: 1rem;
    top: calc(50% + 0.1rem);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

[style="direction: rtl;"] .table-input-wrapper button {
    right: calc(100% - 4.3rem);
}

.table-input-wrapper button svg {
    width: 100%;
}

/* search input */

.sura-table-wrapper input,
.aya-table-wrapper input {
    border-radius: 6px;
    border: solid 1px var(--mainColor);
}

.aya-table-wrapper input {
    width: 80%;
}

.sura-table-wrapper input {
    padding: 1.5rem 3rem 1rem 2rem;
}

[style="direction: rtl;"] .sura-table-wrapper input {
    padding: 1.5rem 2rem 1rem 3rem;
}

.aya-table-wrapper input{
    padding: 1.5rem 0 1rem;
    text-align: center;
}

.table-head input {
    font-size: 1.75em;
    font-weight: bold;
    color: var(--dark);
}

.table-input-wrapper {
    width: 80%;
}

.sura-table-wrapper input {
    width: 100%;
}

/* tabel style */

.table-head,
.table-content {
    width: 100%;
    background-color: var(--fifthColor);
}

.table-head {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 3rem;
}

.table-content {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    max-height: 70vh;
    overflow: auto;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 10;
    padding: 3rem;
    display: none;
}

.table-content.open {
    display: block;
}

.table-content:focus {
    -webkit-box-shadow: 0 0 0 2px var(--fifthColor) !important;
            box-shadow: 0 0 0 2px var(--fifthColor) !important;
}

.table-head h5 {
    font-size: 2.2em;
    margin-bottom: 1.25rem;
}

.sura-name {
    color: #8f8f8f;
    border-radius: 14px;
    padding: 2rem 1.5rem 1.5rem;
}

.sura-name,
.aya-number {
    cursor: pointer;
    border: solid 1px #e0e0e0;
    background-color: var(--white);
    margin-bottom: 1rem;
    font-size: 3em;
}

.aya-number {
    width: 40%;
    height: 0;
    line-height: 0;
    padding: 22% 0 17%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    color: var(--dark);
    text-align: center;
}

.selected {
    border-color: var(--mainColor);
    color: var(--mainColor);
    font-weight: bold;
}

/* toggle btn */

.toggle-table-content {
    background-color: #fafafa;
    border-radius: 6px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    width: 6rem;
    padding: 1.7rem 2.2rem 1rem;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.toggle-table-content:focus {
    outline: none;
}

.toggle-table-content.clicked {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.toggle-table-content svg {
    width: 100%;
}

/* record page style ends here */
/* ---------------------- */
/* media queries */

/* small screen when resize the window */

@media (max-width: 750px) {
    .sura-table-wrapper {
        width: calc((3 / 5) * 100% - 1rem);
    }
    
    .aya-table-wrapper {
        width: calc((2 / 5) * 100% - 1rem);
    }

    .ayat-navigate {
        width: 10rem;
        height: auto;
    }

    .record-and-stop {
        width: 15rem;
        height: auto;
    }

    .toggle-table-content {
        width: 5.6rem;
    }

    .table-input-wrapper {
        width: calc(80% -  2.8rem);
    }

    .aya-number {
        width: 70%;
        padding: 35% 0 29%;
    }

    .table-input-wrapper button {
        width: 3rem;
        padding: 1.2rem 0.6rem;
        right: 1rem;
    }

    .table-input-wrapper button {
        right: 0.2rem;
    }

    [style="direction: rtl;"] .table-input-wrapper button {
        right: calc(100% - 3.3rem);
    }

    .table-head {
        padding: 3rem 2rem;
    }
}

@media (max-width: 500px) {
    .toggle-table-content {
        width: 3.6rem;
        padding: 1.35rem 1.2rem 0.8rem;
    }

    .table-input-wrapper {
        width: calc(80% - 1.4rem);
    }

    .table-head {
        padding: 3rem 1rem;
    }

    .table-head h5 {
        font-size: 1.7em;
    }

    .table-head input {
        font-size: 1.25em;
    }

    .sura-table-wrapper input {
        padding: 1.5rem 3rem 1rem 0.75rem;
    }

    [style="direction: rtl;"] .sura-table-wrapper input {
        padding: 1.5rem 0.75rem 1rem 3rem;
    }

    .sura-name, .aya-number {
        font-size: 1.5em;
    }
}

/* small screen on real mobile devices */

@media (max-device-width: 1155px){
    .sura-table-wrapper {
        width: calc((2 / 3) * 100% - 1rem);
    }
    
    .aya-table-wrapper {
        width: calc((1 / 3) * 100% - 1rem);
    }

    .ayat-navigate {
        width: 10rem;
        height: 10rem;
    }

    .record-and-stop {
        width: 15rem;
        height: 15rem;
    }

    .toggle-table-content {
        width: 6rem;
    }

    .table-input-wrapper {
        width: 80%;
    }

    .sura-name, .aya-number {
        font-size: 3em;
    }

    .table-input-wrapper button {
        width: 3.7rem;
        padding: 0.6rem;
        right: 1rem;
    }

    .table-input-wrapper button {
        right: 1rem;
    }

    [style="direction: rtl;"] .table-input-wrapper button {
        right: calc(100% - 4.3rem);
    }

    .table-head {
        padding: 3rem;
    }

    .table-head h5,
    .table-head input {
        font-size: 3em;
    }

    .sura-table-wrapper input {
        padding: 1.5rem 3rem 1rem 2rem;
    }

    [style="direction: rtl;"] .sura-table-wrapper input {
        padding: 1.5rem 2rem 1rem 3rem;
    }
}

/* labtop and above */
@media (min-width: 1156px){

    .record-page-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .sura_aya_choose_wrapper {
        width: calc(35% - 3rem);
        -webkit-margin-end: 3rem;
                margin-inline-end: 3rem;
    }

    .aya_and_btns-wrapper {
        width: 65%;
    }

    .aya-wrapper {
        width: 100%;
        height: 50vh;
    }

    .aya {
        font-size: 2.7em;
    }

    .sura-name, .aya-number {
        font-size: 3em;
    }

    .ayat-navigate {
        width: 5rem;
        height: 5rem;
    }

    .record-and-stop {
        width: 8rem;
        height: 8rem;
    }
    
    .message {
        font-size: 2em;
        margin-bottom: 1.7rem;
    }
    
    .thanks {
        font-size: 1.5em;
        margin-bottom: 1rem;
    }

    [style="direction: rtl;"] .thanks {
        font-size: 1.5em;
    }
    
    .timer-wrapper {
        font-size: 2em;
    }

    .table-head,
    .table-content {
        padding: 1.5rem;
    }

    .sura-table-wrapper input,
    .aya-table-wrapper input {
        width: 100%;
    }

    .sura-table-wrapper input {
        padding: 0.5rem 3rem 0.5rem 10%;
    }

    [style="direction: rtl;"] .sura-table-wrapper input {
        padding: 0.5rem 10% 0.5rem 3rem;
    }

    .table-head input {
        font-size: 1.75em;
    }

    .aya-table-wrapper input{
        padding: 0.5rem 0;
    }

    .table-input-wrapper button {
        width: 2.7rem;
        right: 0.6rem;
    }
    
    [style="direction: rtl;"] .table-input-wrapper button {
        right: calc(100% - 3.1rem);
    }

    .table-head h5 {
        font-size: 1.46em;
        margin-bottom: 0.75rem;
    }

    .table-content {
        height: 40vh;
        max-height: 40vh;
        display: block;
    }

    .sura-name {
        border-radius: 8px;
        padding: 0.95rem 0.75rem 0.65rem;
    }

    .sura-name,
    .aya-number {
        font-size: 1.5em;
    }

    .aya-number {
        width: 50%;
        padding: 25% 0 20%;
    }

    .toggle-table-content {
        display: none;
    }

    .table-input-wrapper {
        width: 100%;
    }

}

@media (min-width: 1156px) and (max-height: 700px) {

    .record-page-container {
        margin-top: -2rem;
        margin-bottom: 0;
    }

    .aya-wrapper {
        height: 45vh;
    }

    .table-content {
        max-height: calc(35vh - 2.5rem);
    }

    .aya-wrapper,
    .record-btns-wrappers {
        margin-bottom: 2rem;
    }
}

@media (min-width: 1500px){

    .sura_aya_choose_wrapper {
        width: calc(25% - 3rem);
        -webkit-margin-end: 3rem;
                margin-inline-end: 3rem;
    }

    .aya-number {
        width: 70%;
        padding: 40% 0 30%;
    }

    .aya_and_btns-wrapper {
        width: 75%;
    }

    .table-content {
        max-height: 40vh;
    }
}