/* register page style starts here */

body {
    overflow-x: hidden;
}

.error {
    font-weight: normal;
    color: crimson;
    font-size: 1em !important;
    margin: 1rem 0;
}

.error.not-visible {
    visibility: hidden;
}

.register-form-select-wrapper input.error-border {
    border-color: crimson;
}

/*  mushaf image */
.mushaf-wrapper {
    height: 71.4667vw;
    line-height: 0;
}

.mushaf-wrapper img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.register-wrapper {
    position: relative;
    top: -53vw;
}

/* logo and greetings section */

.logo-desc-form-wrapper {
    padding: 6rem 2.5rem;
    border-radius: 14px;
    background-color: var(--white);
    -webkit-box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.16);
    margin-bottom: 7rem;
}

.logo-desc-form-wrapper,
.lower-navbar {
    width: 80.5%;
    margin-left: auto;
    margin-right: auto;
}

.register-form-section,
.greetings,
.logo {
    margin-bottom: 5rem;
}

.logo img {
    width: 30.93vw;
}

/* form */

.register-form-section {
    font-size: 3em;
}

.register-form-label-wrapper span {
    font-size: 0.4em;
}

.register-form-label-wrapper {
    line-height: 1 !important;
}

.radio-section {
    margin-bottom: 2em !important;
}

.age-section {
    margin-bottom: -1rem !important;
}

/* select */

.register-form-select-wrapper {
    position: relative;
}

.register-form-select-wrapper > label {
    position: absolute;
    top: 2.5rem;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-margin-start: 1.5rem;
            margin-inline-start: 1.5rem;
}

.register-form-select-wrapper input:focus + label {
    display: none;
}

.list-toggle-btn {
    position: absolute;
    right: 6%;
    top: 0.8em;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.list-toggle-btn.openBtn img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.register-form-select-wrapper span {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-margin-end: 1.5rem;
            margin-inline-end: 1.5rem;
}

.register-form-select-wrapper input{
    width: 100%;
    outline: none;
    background: transparent;
    padding: 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.input-border {
    border-radius: 8px;
}

.register-form-select-wrapper input,
.radio {
    border: solid 2px #e0e0e0;
}

.register-form-select-wrapper input {
    font-size: 1.5em;
    color: var(--dark);
}

.register-form-select-wrapper img {
    width: 60px;
    height: 60px;
}

#tongue {
    padding-inline-end: calc(60px * 2);
}

/* list */

.list{
    max-height: 25vh;
    width: calc(100% - 2px);
    overflow: auto;
    position: absolute;
    top: 3em;
    z-index: 5;
    background-color: var(--white);
    padding: 0 1rem;
}

.list-border {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: solid 2px #e0e0e0;
    border-left: solid 2px #e0e0e0;
    border-right: solid 2px #e0e0e0;
}

.list > div {
    color: var(--thirdColor);
    font-size: 1.85em;
    cursor: pointer;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 0.5em;
}

.list div {
    margin: 0 0.25rem;
}

.list div.checked{
    color: var(--mainColor);
    font-weight: bold;
}

#tongue-list > div:not(.arabic-font),
#tongue-list > div:not(.arabic-font) div {
    font-family: 'NotoSans-Regular', sans-serif;
}

/* radio btns */

.radio {
    width: 48%;
    padding: 1.5vh 1.5rem 1vh;
    border-radius: 8px;
}

/* 
.radio label {
    -webkit-padding-start: 2.5rem;
            padding-inline-start: 2.5rem;
    position: relative; 
    top: 0.25vh;
    font-size: 1.3em;
}
*/

.radio label::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * 1.5rem - 8px);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid var(--secondColor);
}

.radio input:checked + label::before {
    border-color: var(--forthColor);
}

.radio input:checked + label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: calc(-1 * 1.5rem - 4px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--forthColor);
}

.radio input:focus + label::before {
    -webkit-box-shadow: 0 0 0 2px #cecece !important;
            box-shadow: 0 0 0 2px #cecece !important;
}

/* submit btn */

.btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em 0 0.75em;
    border-radius: 14px;
    font-size: 4em;
    -webkit-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
}

.btn:focus {
    -webkit-box-shadow: 0 0 0 2px var(--thirdColor) !important;
            box-shadow: 0 0 0 2px var(--thirdColor) !important;
}

/* lower navbar */

.lower-navbar {
    padding-bottom: 2vh;
}

.lower-navbar > div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1vh;
}

.lower-navbar > .lang-switch {
    margin-bottom: 2vh;
}

.lower-navbar > div:not(.lang-switch) span{
    display: none;
}

.lower-navbar > div:not(.lang-switch) a {
    display: block;
    margin-bottom: 1.5vh;
    text-align: center;
}

.lower-navbar a,
.lower-navbar span {
    font-size: 4em;
    padding: 0.5rem;
}

/* optimize arabic view */

[style="direction: rtl;"] #toggle-tongue-list,
[style="direction: rtl;"] #toggle-age-list {
    right: 88%;
}

[style="direction: rtl;"] .radio label::before {
    left: 0;
    right: calc(-1 * 1.5rem - 8px);
}

[style="direction: rtl;"] .radio input:checked + label::after {
    left: 0;
    right: calc(-1 * 1.5rem - 4px);
}

[style="direction: rtl;"] .lang-switch {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

/* register style ends here */
/* ------------------------ */
/* media queries */

@media (max-width: 1155px){
    .register-wrapper {
        height: calc(1251px - 53vw);
    }
}

/* labtop and above */
@media (min-width: 1156px){

    .error {
        font-size: 0.5em;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }

    
    .mushaf-wrapper,
    .register-wrapper {
        width: 50%;
    }
    
    .mushaf-wrapper {
        height: 100vh;
        position: fixed;
    }
    
    .register-wrapper {
        top: 0;
        left: -50vw;
        padding-top: 2vh;
        padding-bottom: 0;
    }

    [style="direction: rtl;"] .register-wrapper {
        left: 50vw;
    }

    .greetings, .logo {
        margin-bottom: 3vh;
    }

    .register-form-section {
        margin-bottom: 0;
    }
    
    .logo-desc-form-wrapper {
        margin-bottom: 0;
        padding: 4vh 2.5rem;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .logo img {
        width: 116px;
    }

    .logo-desc-form-wrapper,
    .lower-navbar {
        width: 65%;
    }

    .register-form-section {
        font-size: 1.75em;
    }

    .register-form-label-wrapper span {
        font-size: 0.6em;
    }

    .register-form-section input{
        padding: 1.5vh;
    }

    #tongue {
        padding-inline-end: calc(24px * 2.5);
    }

    .register-form-select-wrapper img {
        width: 24px;
        height: 24px;
    }

    .register-form-section input,
    .radio {
        font-size: 1em;
        border: solid 1px #e0e0e0;
    }

    .radio {
        padding: 2vh 1.5rem 0.5vh;
    }

    .radio label {
        font-size: 1.2em;
        top: -0.5vh;
        -webkit-padding-start: 1.5rem;
                padding-inline-start: 1.5rem;
    }

    .radio label::before {
        left: calc(-1 * 1.5rem - 6px);
        width: 16px;
        height: 16px;
    }
    
    .radio input:checked + label::after {
        top: 3px;
        left: calc(-1 * 1.5rem - 3px);
        width: 12px;
        height: 12px;
    }

    [style="direction: rtl;"] .radio label::before {
        right: calc(-1 * 1.5rem - 6px);
    }
    
    [style="direction: rtl;"] .radio input:checked + label::after {
        right: calc(-1 * 1.5rem - 3px);
    }

    .register-form-select-wrapper > label {
        top: 1.5rem;
    }

    #toggle-tongue-list,
    #toggle-age-list {
        height: 2em;
        right: 8%;
        border-radius: 0.3em;
    }

    [style="direction: rtl;"] #toggle-tongue-list,
    [style="direction: rtl;"] #toggle-age-list {
        right: 90%;
    }

    .list {
        top: 2.7em;
    }

    .list > div {
        font-size: 1em;
    }

    .btn {
        padding: 1.5rem 0 0.5rem;
        font-size: 2.5em;
    }

    .lower-navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-bottom: 4vh;
    }
    
    .lower-navbar > div {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .lower-navbar > .lang-switch {
        margin-bottom: 0;
    }
    
    .lower-navbar > div:not(.lang-switch) span{
        display: inline;
    }
    
    .lower-navbar > div:not(.lang-switch) a {
        display: inline;
    }

    .lower-navbar a,
    .lower-navbar span {
        font-size: 1.75em;
    }
}

@media (min-width: 1440px){
    .lower-navbar a,
    .lower-navbar span {
        font-size: 1.9em;
    }
}